.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info{
    flex: 0 0 60% ;
    max-width: 60%;
}
.home .home-img{
   
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    text-align: center; 
}
h3.hello{
    font-size: 29px ;
    margin: 15px 0;
}
h3.hello span{
 font-family: 'Clicker Script',cursive;
 font-size: 30px;
 font-weight: 700;
 color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img img{
    height: 400px;
    border-radius: 5px;
    margin: auto;
   
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    /* right: 80px; */
    bottom: -40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
}.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: -20px;
    /* left: 80px; */
    top: -40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
}

@media (max-width:991px)
{
    .home .home-info
{
    flex: 0 0 100%;
    max-width: 100%;
}
    .home .home-img
    {
        display: none;
    }
}